In [24]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import re
import pickle

In [25]:
employee_skill = pickle.load(open('../output/employee_skill.pkl', 'rb'))
similarity = pickle.load(open('../output/similarity.pkl', 'rb'))

In [26]:
employee_skill.columns

Index(['employee_id', 'employee_skills', 'first_name', 'last_name', 'category',
       'department_name', 'designation_name', 'duhead_id', 'coehead_id', 'coe',
       'name', 'work_location', 'project_type', 'allocation_percentage'],
      dtype='object')

In [27]:
employee_skill.head()

,employee_id,employee_skills,first_name,last_name,category,department_name,designation_name,duhead_id,coehead_id,coe,name,work_location,project_type,allocation_percentage
0,AFT00047,"Manual Testing Functional Testing Testing,Pe...",Priyanka,Gurav,EMPLOYEE,Engineering,Principal Software Development Engineer-Test,"[AFT00304, AFT00640]",[AFT00640],[RELIABILITY_ENGINEERING],"[Stellus, Unitrends, Trial Scope]",[OFFSHORE],[CUSTOMER],400.0
1,AFT00084,Build&Deploy DevOps Jenkins Coding & Developme...,Samir,Joglekar,EMPLOYEE,Engineering,Associate Software Solution Architect,"[AFT00599, AFT00628]","[AFT00599, AFT00628]",[DESIGN_DEVELOPMENT],"[Marchex (Sustenance), Marchex – OCPS]","[ONSITE, OFFSHORE]",[CUSTOMER],300.0
2,AFT00099,Automation Testing Specialized Testing Python/...,Prathamesh,Sarang,EMPLOYEE,Engineering,Software Test Solution Architect,"[AFT00304, AFT00640, AFT00129]",[AFT00640],"[DESIGN_DEVELOPMENT, RELIABILITY_ENGINEERING]","[Automation training, QAccelerator, Bench, Man...",[OFFSHORE],"[ASSET, CUSTOMER]",1000.0
3,AFT00252,Full Stack Web Technologies Intermediate Codin...,Sunil,Jain,INTERN,Engineering,Principal Software Development Engineer,"[AFT00628, AFT00640]","[AFT00599, AFT00640]",[DESIGN_DEVELOPMENT],"[Convoy, Convoy- New, Convoy – EDI]",[OFFSHORE],[CUSTOMER],300.0
4,AFT00257,"Manual Testing Functional Testing Testing,Di...",NaN,NaN,no_info,NaN,no_info,no_info,no_info,no_info,no_info,no_info,no_info,0.0

In [28]:
def recommend(employee_id):
  sim = []
  employee_lst = []
  index = employee_skill[employee_skill['employee_id'] == employee_id].index[0]
  distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
  for i in distances[1:10]:
    employee_lst.append(employee_skill.employee_id[i[0]])
    sim.append(i[1])
  sim = [x * 100 for x in sim]
  sim = [ '%.2f' % elem for elem in sim ]
  lst = list(zip(employee_lst, sim))
  return lst

In [29]:
employee_skill.columns

Index(['employee_id', 'employee_skills', 'first_name', 'last_name', 'category',
       'department_name', 'designation_name', 'duhead_id', 'coehead_id', 'coe',
       'name', 'work_location', 'project_type', 'allocation_percentage'],
      dtype='object')

In [30]:
employee_skill.head(3)

,employee_id,employee_skills,first_name,last_name,category,department_name,designation_name,duhead_id,coehead_id,coe,name,work_location,project_type,allocation_percentage
0,AFT00047,"Manual Testing Functional Testing Testing,Pe...",Priyanka,Gurav,EMPLOYEE,Engineering,Principal Software Development Engineer-Test,"[AFT00304, AFT00640]",[AFT00640],[RELIABILITY_ENGINEERING],"[Stellus, Unitrends, Trial Scope]",[OFFSHORE],[CUSTOMER],400.0
1,AFT00084,Build&Deploy DevOps Jenkins Coding & Developme...,Samir,Joglekar,EMPLOYEE,Engineering,Associate Software Solution Architect,"[AFT00599, AFT00628]","[AFT00599, AFT00628]",[DESIGN_DEVELOPMENT],"[Marchex (Sustenance), Marchex – OCPS]","[ONSITE, OFFSHORE]",[CUSTOMER],300.0
2,AFT00099,Automation Testing Specialized Testing Python/...,Prathamesh,Sarang,EMPLOYEE,Engineering,Software Test Solution Architect,"[AFT00304, AFT00640, AFT00129]",[AFT00640],"[DESIGN_DEVELOPMENT, RELIABILITY_ENGINEERING]","[Automation training, QAccelerator, Bench, Man...",[OFFSHORE],"[ASSET, CUSTOMER]",1000.0

In [31]:
employee = "AFT00511"

In [32]:
def mapping_desig(val):
    mask = employee_skill['employee_id'].values == employee
    df_new = employee_skill.loc[mask]
    val_desig = df_new.designation_name.values[0]
    if val == val_desig:
        return 1
    else:
        return 0

def mapping_depar(val):
    mask = employee_skill['employee_id'].values == employee
    df_new = employee_skill.loc[mask]
    val_depar = df_new.department_name.values[0]
    if val == val_depar:
        return 1
    else:
        return 0

In [33]:
employee_lst = recommend(employee)
employee_lst

[('AFT00671', '94.22'),
 ('AFTC0224', '93.86'),
 ('AFT00662', '90.75'),
 ('AFT00408', '89.37'),
 ('AFT00661', '89.34'),
 ('AFT00513', '87.29'),
 ('AFT00688', '87.19'),
 ('AFT00084', '86.91'),
 ('AFT00505', '86.17')]

In [34]:
employee_skill.head()

,employee_id,employee_skills,first_name,last_name,category,department_name,designation_name,duhead_id,coehead_id,coe,name,work_location,project_type,allocation_percentage
0,AFT00047,"Manual Testing Functional Testing Testing,Pe...",Priyanka,Gurav,EMPLOYEE,Engineering,Principal Software Development Engineer-Test,"[AFT00304, AFT00640]",[AFT00640],[RELIABILITY_ENGINEERING],"[Stellus, Unitrends, Trial Scope]",[OFFSHORE],[CUSTOMER],400.0
1,AFT00084,Build&Deploy DevOps Jenkins Coding & Developme...,Samir,Joglekar,EMPLOYEE,Engineering,Associate Software Solution Architect,"[AFT00599, AFT00628]","[AFT00599, AFT00628]",[DESIGN_DEVELOPMENT],"[Marchex (Sustenance), Marchex – OCPS]","[ONSITE, OFFSHORE]",[CUSTOMER],300.0
2,AFT00099,Automation Testing Specialized Testing Python/...,Prathamesh,Sarang,EMPLOYEE,Engineering,Software Test Solution Architect,"[AFT00304, AFT00640, AFT00129]",[AFT00640],"[DESIGN_DEVELOPMENT, RELIABILITY_ENGINEERING]","[Automation training, QAccelerator, Bench, Man...",[OFFSHORE],"[ASSET, CUSTOMER]",1000.0
3,AFT00252,Full Stack Web Technologies Intermediate Codin...,Sunil,Jain,INTERN,Engineering,Principal Software Development Engineer,"[AFT00628, AFT00640]","[AFT00599, AFT00640]",[DESIGN_DEVELOPMENT],"[Convoy, Convoy- New, Convoy – EDI]",[OFFSHORE],[CUSTOMER],300.0
4,AFT00257,"Manual Testing Functional Testing Testing,Di...",NaN,NaN,no_info,NaN,no_info,no_info,no_info,no_info,no_info,no_info,no_info,0.0

In [35]:
def sorted_dataframe(employee_lst, employee):
    employee_lst = [[i for i, j in employee_lst],
       [j for i, j in employee_lst]]
    lst = employee_lst[0]
    sim = employee_lst[1]
    sim.append(0)
    p = len(sim)-1
    while(p>0):
        sim[p] = sim[p-1]
        p = p - 1
    sim[0] = 0
    print(sim)

    mask = employee_skill['employee_id'].values == employee
    df_new = employee_skill.loc[mask]
    for employee1 in lst:
        mask = employee_skill['employee_id'].values == employee1
 
# using loc() method
        df_new1 = employee_skill.loc[mask]
        df_new = df_new.append(df_new1, ignore_index = True) 
    df_new2 = df_new.loc[1:]
    df_new['similarity'] = sim
    b = df_new2.iloc[:,5:6].values
    b = b.reshape(-1)
    b=b.tolist()
    encoded_de = []
    for value in b:
        encoded_de.append(mapping_depar(value))
    df_new2['department_name'] = encoded_de
    b=df_new2.iloc[:,4:5].values
    b = b.reshape(-1)
    b.shape
    b=b.tolist()
    encoded_category = []
    for category in b:
        if category == "EMPLOYEE":
            encoded_category.append(2)
        elif category == "Intern" or category == "CONTRACT":
            encoded_category.append(1)
        else:
            encoded_category.append(0)

    df_new2['category'] = encoded_category
    
    mask = employee_skill['employee_id'].values == employee
    df_new6 = employee_skill.loc[mask]
    #print(df_new1)
    coe = df_new6.coe.values[0]
    del df_new6
    b=df_new2.iloc[:,9:10].values
    b = b.reshape(-1)
    b.shape
    b=b.tolist()
    
    encoded_coe = []
    if len(coe) == 2:
        for val in b:
            if len(val) == 2:
                encoded_coe.append(2)
            elif val[0] == 'DESIGN_DEVELOPMENT' or val[0] == 'DESIGN_DEVELOPMENT':
                encoded_coe.append(1)
            else:
                encoded_coe.append(0)
    elif coe[0] == "DESIGN_DEVELOPMENT":
        for val in b:
            if len(val) == 2 or val[0] == "DESIGN_DEVELOPMENT":
                encoded_coe.append(2)
            else:
                encoded_coe.append(0)
    elif coe[0] == "RELIABILITY_ENGINEERING":
        for val in b:
            if len(val) == 2 or val[0] == "RELIABILITY_ENGINEERING":
                encoded_coe.append(2)
            else:
                encoded_coe.append(0)
    else:
        for val in b:
            if len(val) == 2:
                encoded_coe.append(2)
            elif len(val) == 1:
                encoded_coe.append(1)
            else:
                encoded_coe.append(0)

    df_new2['coe'] = encoded_coe

    b=df_new2.iloc[:,10:11].values
    b = b.reshape(-1)
    b.shape
    b=b.tolist() 

    name_recommend = []
    for val in b:
        if "Bench" in val:
            name_recommend.append(1)
        else:
            name_recommend.append(0)

    df_new2['name'] = name_recommend
    b=df_new2.iloc[:,6:7].values
    b = b.reshape(-1)
    b.shape
    b=b.tolist()

    encoded_hierarchy = []
    for value in b:
        encoded_hierarchy.append(mapping_desig(value))

    df_new2['designation_name'] = encoded_hierarchy
    
    mask = employee_skill['employee_id'].values == employee
    df_new4 = employee_skill.loc[mask]
    duheadid = df_new4.duhead_id.values[0]
    del df_new4

    b=df_new2.iloc[:,7:8].values
    b = b.reshape(-1)
    b.shape
    b=b.tolist()

    du_recommend = []
    for val in b:
        lst5 = []
        for heads in val:
            if heads in duheadid:
                lst5.append(1)
            else:
                lst5.append(0)

        if 1 in lst5:
            du_recommend.append(1)
        else:
            du_recommend.append(0)

    df_new2['duhead_id'] = du_recommend

    mask = employee_skill['employee_id'].values == employee
    df_new4 = employee_skill.loc[mask]
    coeheadid = df_new4.coehead_id.values[0]
    del df_new4

    b=df_new2.iloc[:,8:9].values
    b = b.reshape(-1)
    b.shape
    b=b.tolist()

    co_recommend = []
    for val in b:
        lst5 = []
        for heads in val:
            if heads in coeheadid:
                lst5.append(1)
            else:
                lst5.append(0)

        if 1 in lst5:
            co_recommend.append(1)
        else:
            co_recommend.append(0)

    df_new2['coehead_id'] = co_recommend
    mask = employee_skill['employee_id'].values == employee
    df_new6 = employee_skill.loc[mask]
    worklocation = df_new6.work_location.values[0]
    del df_new6

    b=df_new2.iloc[:,11:12].values
    b = b.reshape(-1)
    b=b.tolist()

    work_en = []
    for val in b:
        lst5 = []
        for locations in val:
            if locations in worklocation:
                lst5.append(1)
            else:
                lst5.append(0)

        if 1 in lst5:
            work_en.append(1)
        else:
            work_en.append(0)

    df_new2['work_location'] = work_en
    
    b=df_new2.iloc[:,12:13].values
    b = b.reshape(-1)
    b=b.tolist()

    encoded_pt = []
    for val in b:
        if len(val) == 2 or val[0] == "CUSTOMER":
            encoded_pt.append(0)
        elif val[0] == 'ASSET':
            encoded_pt.append(1)
        else:
            encoded_pt.append(1)
    df_new2['project_type'] = encoded_pt

    df_new3 = df_new2[['category', 'department_name',
        'designation_name', 'duhead_id', 'coehead_id', 'coe',
       'name', 'work_location', 'project_type']].copy()

    listOfDFRows = df_new3.to_numpy().tolist()

    sum = []
    for val in listOfDFRows:
        count = 0
        for i in val:
            count = count + i
        sum.append(count)

    df_re = df_new.loc[1:]
    df_re['Imporance_value'] = sum
    res_df = df_re.sort_values(by = 'Imporance_value', ascending = False)
    res_df.drop(columns=['duhead_id', 'coehead_id', 'name',
        'allocation_percentage','Imporance_value'], axis=1, inplace=True)
    res_df.loc[res_df["coe"] == 'no_info', "coe"] = "--"
    res_df.loc[res_df["work_location"] == 'no_info', "work_location"] = "--"
    res_df.loc[res_df["project_type"] == 'no_info', "project_type"] = "--"
    res_df.loc[res_df["designation_name"] == "no_info", "designation_name"] = "--"
    res_df.loc[res_df["category"] == "no_info", "category"] = "--"
    res_df['department_name'] = res_df['department_name'].fillna("--")
    res_df['first_name'] = res_df['first_name'].fillna("--")
    res_df['last_name'] = res_df['last_name'].fillna("--")
    res_df = res_df[['employee_id', 'first_name', 'last_name', 'category',
       'department_name', 'designation_name', 'coe',
        'work_location', 'project_type', 'similarity', 'employee_skills']]
    res_df.set_index("employee_id", inplace = True)
    
    return res_df

In [36]:
recommendations = sorted_dataframe(employee_lst, employee)

[0, '94.22', '93.86', '90.75', '89.37', '89.34', '87.29', '87.19', '86.91', '86.17']

In [37]:

recommendations

,first_name,last_name,category,department_name,designation_name,coe,work_location,project_type,similarity,employee_skills
employee_id,,,,,,,,,,
AFT00671,Utkarsh,Singh,EMPLOYEE,Engineering,Software Development Engineer,"[DESIGN_DEVELOPMENT, RELIABILITY_ENGINEERING]",[OFFSHORE],"[CUSTOMER, ASSET]",94.22,"Container DevOps Docker Coding & Development,C..."
AFT00662,Manish,Walde,EMPLOYEE,Engineering,Lead Software Development Engineer,"[RELIABILITY_ENGINEERING, DESIGN_DEVELOPMENT]","[OFFSHORE, ONSITE_OFFSHORE]","[ASSET, CUSTOMER]",90.75,ALM Microsoft Visual Studio 2015 Coding & Deve...
AFT00661,Ravi,Bhoskar,EMPLOYEE,Engineering,Senior Software Development Engineer,"[DESIGN_DEVELOPMENT, RELIABILITY_ENGINEERING]",[OFFSHORE],"[CUSTOMER, ASSET]",89.34,Framework Microsoft .Net 2.0/3.0/4.0/4.5 Codin...
AFT00408,Sonal,Yewale,EMPLOYEE,Engineering,Principal Software Development Engineer,"[RELIABILITY_ENGINEERING, DESIGN_DEVELOPMENT]",[OFFSHORE],"[ASSET, CUSTOMER]",89.37,Framework Microsoft Jquery Coding & Developmen...
AFT00688,Parikshit,Nagda,CONTRACT,Engineering,Lead Software Development Engineer,"[DESIGN_DEVELOPMENT, RELIABILITY_ENGINEERING]",[OFFSHORE],"[CUSTOMER, ASSET]",87.19,Script Language Microsoft Javascript Coding & ...
AFT00505,Shubham,m,EMPLOYEE,Engineering,Software Development Engineer,[DESIGN_DEVELOPMENT],[OFFSHORE],[CUSTOMER],86.17,"Change Management Microsoft TFS, Git Coding & ..."
AFT00084,Samir,Joglekar,EMPLOYEE,Engineering,Associate Software Solution Architect,[DESIGN_DEVELOPMENT],"[ONSITE, OFFSHORE]",[CUSTOMER],86.91,Build&Deploy DevOps Jenkins Coding & Developme...
AFT00513,Nikhil,Malviya,INTERN,Engineering,Associate Software Engineer,[DESIGN_DEVELOPMENT],[OFFSHORE],[CUSTOMER],87.29,"Container DevOps Docker Coding & Development,O..."
AFTC0224,--,--,--,--,--,--,--,--,93.86,Build&Deploy DevOps Jenkins Coding & Developme...

In [14]:
lst = recommend("AFT00252")
lst

['AFT00456',
 'AFT00448',
 'AFT00602',
 'AFT00505',
 'AFT00583',
 'AFT00537',
 'AFT00594',
 'AFT00408',
 'AFTI0019']

In [30]:
recommendations = sorted_dataframe(lst, "AFT00252")

In [31]:
recommendations

,employee_skills,first_name,last_name,category,department_name,designation_name,coe,work_location,project_type
employee_id,,,,,,,,,
AFT00505,"Change Management Microsoft TFS, Git Coding & ...",Shubham,m,EMPLOYEE,Engineering,Software Development Engineer,[DESIGN_DEVELOPMENT],[OFFSHORE],[CUSTOMER]
AFT00456,Web Technology Java Typescript Coding & Develo...,Rahul,Sharma,EMPLOYEE,Engineering,Senior Software Development Engineer,[DESIGN_DEVELOPMENT],[OFFSHORE],[CUSTOMER]
AFT00594,Web Technology General JSON Coding & Developme...,Abhijit,Kulkarni,EMPLOYEE,Engineering,Lead Software Development Engineer,"[DESIGN_DEVELOPMENT, RELIABILITY_ENGINEERING]",[OFFSHORE],"[CUSTOMER, ASSET]"
AFT00408,Framework Microsoft Jquery Coding & Developmen...,Sonal,Yewale,EMPLOYEE,Engineering,Principal Software Development Engineer,"[RELIABILITY_ENGINEERING, DESIGN_DEVELOPMENT]",[OFFSHORE],"[ASSET, CUSTOMER]"
AFTI0019,Web Technology Java React JS Coding & Developm...,Deepanshu,Bansal,INTERN,Engineering,Intern,"[DESIGN_DEVELOPMENT, RELIABILITY_ENGINEERING]",[OFFSHORE],[ASSET]
AFT00602,Full Stack Web Technologies Intermediate Codin...,Deepika,Ahirrao,EMPLOYEE,Engineering,Principal Software Development Engineer,[RELIABILITY_ENGINEERING],[OFFSHORE],"[ASSET, CUSTOMER]"
AFT00537,Web Technology General JSON Coding & Developme...,Dhiraj,Ghavate,EMPLOYEE,Engineering,Lead Software Development Engineer,[RELIABILITY_ENGINEERING],[OFFSHORE],[CUSTOMER]
AFT00448,Full Stack Web Technologies Advanced Coding & ...,--,--,--,--,--,--,--,--
AFT00583,Data Architecture Data Management Data Modelin...,--,--,--,--,--,--,--,--

In [20]:
lst = recommend("AFT00641")
recommendations = sorted_dataframe(lst, "AFT00641")
recommendations

   employee_id category_x               designation_name first_name last_name
3     AFT00641   EMPLOYEE           Lead DevOps Engineer      Rohan    Shinde
4     AFT00526   EMPLOYEE           Lead DevOps Engineer     Yogesh   Rathore
5     AFT00623   EMPLOYEE    Associate Software Engineer    Krishna     Kekan
6     AFT00614   EMPLOYEE                Devops Engineer    Avadhut    Talbar
10    AFT00671   EMPLOYEE  Software Development Engineer    Utkarsh     Singh
2     AFT00613   EMPLOYEE    Associate Software Engineer     Girish      Mane
8     AFT00513     INTERN    Associate Software Engineer     Nikhil   Malviya
1     AFT00554    no_info                        no_info        NaN       NaN
7     AFT00565    no_info                        no_info        NaN       NaN
9     AFTC0224    no_info                        no_info        NaN       NaN